{% extends 'userAuth/base.html' %}
{% load custom_tags %}

{% block css %}

{% endblock css %}

{% block navbar %}
{% getNavbar 1%}
{% endblock navbar %}

{% block body %}

<div class="card " style="background: rgba(255, 255, 255, 0.9);">
    <div class="card-body" style="min-width: 100%;">
        <h5 class="card-header">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col">
                        Tax Due on
                    </div>
                    <div class="col">
                        Tax amount
                    </div>
                    <div class="col">
                        status
                    </div>

                    <div class="col">
                        Actions
                    </div>

                </div>
            </div>
        </h5>
        <ul class="list-group list-group-flush" id="taxes" style="background: rgba(255, 255, 255, 0);">


            {% for tax in taxes %}
            <li class="list-group-item" style="margin-top: 2%;background: rgba(255, 255, 255, 0);">

                <div class="container" style="background: rgba(255, 255, 255, 0);">
                    <div class="row align-items-start">

                        <div class="col">
                            {{tax.due_on}}
                        </div>
                        <div class="col">
                            {{tax.finalAmt}}
                        </div>
                        <div class="col">
                            {% getStatus tax.due_on%}
                        </div>
                        <div class="col">
                            {% if tax.paid %}
                            <span class=" my-0 btn btn-success">PAID</span>
                            {% else %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="pay" value="{{tax.pk}}">
                                <input class="my-0 btn btn-danger" id="pay{{tax.pk}}" style="max-width: fit-content;"
                                    type="Submit" value='PAY NOW!'>
                            </form>

                            {% endif %}
                        </div>

                    </div>
                </div>

            </li>
            {% endfor %}



        </ul>

    </div>
</div>
{% endblock body %}