{% extends 'userAuth/base.html' %}
{% load static %}
{% block title %}
LOGIN
{% endblock title %}

{% block css %}
<style>
    body {
        background:url("{% static 'userAuth/bg_login.jpg' %}") no-repeat;
        background-size: 100% 100vh;
    }
</style>
{% endblock css %}

{% block body %}




<div class="card" style="top: 34%;left:39%;position: absolute;background: rgba(255, 255, 255, 0.7);">
    <h5 class="card-header">LOGIN</h5>
    <div class="card-body" style="min-width: 400px;">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <center><button type="submit" class="btn btn-dark">LOGIN</button></center>

        </form>

    </div>
</div>



{% endblock body %}