{% extends 'userAuth/base.html' %}
{% load custom_tags %}

{% block navbar %}
{% getNavbar 3%}

{% endblock navbar %}



{% block body %}

<div class="card" style="background: rgba(255, 255, 255, 0.9);">
    <div class="card-body">
        <h5 class="card-header">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col">
                        Username
                    </div>
                    <div class="col">
                        State
                    </div>
                    <div class="col">
                        TaxDue Amount
                    </div>

                    <div class="col">
                        Actions
                    </div>

                </div>
            </div>
        </h5>


        <ul class="list-group list-group-flush" style="margin-top: 5%; " id="taxes">


            {% for user in users %}
            <li class="list-group-item" style="background: rgba(255, 255, 255, 0);">

                <div class="container">
                    <div class="row align-items-start">

                        <div class="col">
                            {{user.get_full_name|default:user.username}}
                        </div>
                        <div class="col">
                            {{user.state.name}}
                        </div>
                        <div class="col">
                            {{user.total_due|default_if_none:0.00|floatformat:2}} INR
                        </div>
                        <div class="col">
                            {% if request.user.user_type != 2 %}
                            <a href="#" class="btn btn-secondary"> Make Tax</a>
                            {% else %}
                            <a href="{% url 'createTax' user.pk %}" class="btn btn-primary"> Make Tax</a>
                            {% endif %}

                        </div>

                    </div>
                </div>

            </li>
            {% endfor %}



        </ul>

    </div>
</div>
</div>
{% endblock body %}